<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
</head>
<body>
    <h1>Welcome!</h1>
    </div>
    <!-- Form Module-->
    <div class="module form-module">
        <div class="toggle">
        </div>
        <div class="form">
            <h2>Login to your account</h2>
            <form id="myForm">
                <input type="username" name="usr" placeholder="Username" />
                <input type="password" id="pword" placeholder="Password" />
                <button input type="button" onClick="getCredentials(this.form)">Login</button>
            </form>
        </div>
    </div>
    <script type="text/javascript">
         function getCredentials(form) {
              var username = form.usr.value;
              var password = form.pword.value;

              if ((username === "student") && (password === "password")) {
                   location.assign("StudentMain.html");
              }
              if ((username === "admin") && (password === "1234")) {
                  location.assign("AdminMain.html");
              }
              if ((username === "teacher") && (password === "pswd")) {
                  location.assign("TeacherMain.html");
              }
             
       }
    </script>
    </script>


</body>
</html>
